* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content{
	height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
}

.controls{
	-webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  overflow: auto;
  padding: 2em 0;
}

.result{
	width: 45%;
	padding: 20px;
  overflow-y: auto;
  color: white;
  white-space: pre;
}

.result p{
	position: relative;
}

.result p:after{
	content: "";
	position: absolute;
	bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px dashed;
}

button{
	width: 50%;
	margin-bottom: 1em;
}

.ibm-common-overlay .ibm-overlay-heading-con a.ibm-close-link{
	padding: 3px 0;
}

#overlay_container_name input{
	width: 50%;
}

input.error {
	border: thin dotted red
}

.divider {
  margin-top: 1em;
  margin-bottom: 2em;
	border-bottom: 1px dashed;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch.label{
	width: auto;
  line-height: 34px;
  vertical-align: top;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}